*{
    margin: 0;
    padding: 0;
}

.fundo{
background-image: linear-gradient(45deg, #000000, rgba((156, 0, 204, 0.829));
height: 100vh;
color: white;
text-align: center;
font-family:Arial, Helvetica, sans-serif
}

.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    font-size: 12px ;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(34, 33, 33);
    color: white;
    border: none;
    border-radius: 15%;
    margin: 2px;
}

.botaoR {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgba(152, 62, 160, 0.712);
    color: white;
    border: none;
    border-radius: 15%;
    margin: 2px;
}

.botao:hover {
    background-color: rgb(152, 62, 160,0.712);
}

.botaoR:hover {
    background-color: rgba(240, 99, 250, 0.712);
}


#resultado {
    background-color: rgba(255, 255, 255, 0.9);
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
    border-radius: 2px;

}
